name: test

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        luaVersion:
          [
            "5.1.5",
            "5.2.4",
            "5.3.5",
            "5.4.1",
            "5.1",
            "5.4",
            "luajit-2.0.5",
            "luajit-2.1.0-beta3",
          ]
        machineTag: ["ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.machineTag }}
    steps:
      - uses: actions/checkout@v2
      - uses: leafo/gh-actions-lua@v8.0.0
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - uses: leafo/gh-actions-luarocks@v4.0.0
        with:
          luarocksVersion: "3.8.0"
      - name: build
        run: |
          make build
      - name: test
        run: lua test.lua
